<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhkj.scm.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.qhkj.scm.model.entity.UserEntity">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="REAL_NAME" jdbcType="VARCHAR" property="realName"/>
        <result column="SEX" jdbcType="INTEGER" property="sexTypeEnum"
                typeHandler="com.qhkj.scm.handler.SexTypeHandler"/>
        <result column="ID_CARD" jdbcType="VARCHAR" property="idCard"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <update id="updateUserByUserName">

        update TB_USER set PASSWORD=#{password} where USER_NAME=#{userName}

    </update>
    <select id="findList" resultType="com.qhkj.scm.model.entity.UserEntity">

        select * from TB_USER where 1=1

        <if test="userId!=null">
            and ID = #{userId}
        </if>
        <if test="sex==@com.qhkj.scm.common.enums.SexTypeEnum@WOMAN">
            and SEX = 0
        </if>

    </select>
    <select id="getList" resultType="com.qhkj.scm.model.vo.UserVO">

            select ID AS id, CREATE_TIME AS createTime,UPDATE_TIME AS updateTime from TB_USER where ID=53
    </select>


</mapper>